.header-homepage{
  background-color: #343a40;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
.welcome-section {
  padding: 80px 0;
  text-align: center;
}
.feature-card-homepage {
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background: #fff;
}
.feature-card-homepage:hover {
  transform: translateY(-5px);
}
.feature-card-homepage .card-body {
  padding: 20px;
}
.feature-card-homepage .card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #343a40;
}
.feature-card-homepage .card-text {
  color: #6c757d;
}
.footer-homepage {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.container-note {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}
.note-form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.note-card {
  background-color: #f8f9fa;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  transition: all 0.3s ease;
}
.note-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.note-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
.note-content {
  color: #666;
}
.note-actions {
  margin-top: 10px;
}
.btn-action {
  font-size: 20px;
  margin-right: 10px;
  color: #666;
  transition: color 0.3s ease;
}
.btn-action:hover {
  color: #007bff;
}